body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.c1{
    height: 200px;
    width: 200px;
    position: relative;
}
.c2{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid red;
    display: grid;
    align-items: center;
    justify-content: center;
}
.c3{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#number{
    font-weight: 600px;
    color: #555;
    
}
.img{
    width: 200px;
    height: 200px;
}
.img:hover{
    transform: scale(1.1);
}